completionMode="GLOBAL"
felix.fileinstall.filename="file:/home/francois/openhab2-config/userdata/etc/org.apache.karaf.shell.cfg"
hostKey="/home/francois/openhab2-config/userdata/etc/host.key"
hostKeyFormat="simple"
service.pid="org.apache.karaf.shell"
sshHost="127.0.0.1"
sshIdleTimeout="1800000"
sshPort="8101"
sshRealm="karaf"
