binding="zwave"
felix.fileinstall.filename="file:/home/francois/openhab2-config/userdata/etc/org.openhab.addons.cfg"
legacy="true"
misc="restdocs"
package="expert"
remote="true"
service.pid="org.openhab.addons"
transformation="map,regex,xslt,exec,javascript,scale,xpath,jsonpath"
ui="basic,\ classic,\ paper,\ habmin"
