felix.fileinstall.active.level="80"
felix.fileinstall.dir="/home/francois/openhab2-config/addons"
felix.fileinstall.filename="file:/home/francois/openhab2-config/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="1000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="/home/francois/openhab2-config/userdata/tmp/bundles"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.53ff1aaf-8ecf-4b6f-af5a-e374465113d2"
