felix.fileinstall.filename="file:/home/francois/openhab2-config/userdata/etc/org.ops4j.pax.url.mvn.cfg"
org.ops4j.pax.url.mvn.defaultRepositories="file:/home/francois/openhab2-config/runtime/system@id\=system.repository@snapshots,\ file:/home/francois/openhab2-config/userdata/kar@id\=kar.repository@multi@snapshots,\ file:/home/francois/openhab2-config/userdata/system@id\=child.system.repository@snapshots"
org.ops4j.pax.url.mvn.localRepository="/home/francois/openhab2-config/userdata/tmp/mvn"
org.ops4j.pax.url.mvn.repositories="https://dl.bintray.com/openhab/mvn/online-repo/2.1@id\=openhab@snapshots"
org.ops4j.pax.url.mvn.useFallbackRepositories="false"
service.pid="org.ops4j.pax.url.mvn"
